:root {
  --primary-blue: hsl(220, 98%, 61%);
  --gradient-color: hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* Light Theme Colors */
  --lt-very-light-gray: hsl(0, 0%, 98%);
  --lt-very-light-grayish-blue: hsl(236, 33%, 92%);
  /* --lt-light-grayish-blue: hsl(233, 11%, 84%); */
  --lt-dark-grayish-blue: hsl(236, 9%, 61%);
  --lt-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme Colors */
  --dt-light-grayish-blue: hsl(234, 39%, 85%);
  --dt-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dt-dark-grayish-blue: hsl(234, 11%, 52%);
  --dt-very-dark-grayish-blue: hsl(233, 14%, 35%);
  /* --very-dark-grayish-blue: hsl(237, 14%, 26%); */

  --page-bg: hsl(235, 21%, 11%); /*very-dark-blue*/
  --app-bg: hsl(235, 24%, 19%); /*very-dark-desaturated-blue*/
  --input-bg: #edeef00a;
  --button-color: hsl(236, 9%, 61%);
  --task-text-color: hsl(234, 39%, 85%); /*light-grayish-blue*/
  --task-text-color-hover: hsl(236, 33%, 92%);
  --task-text-color-checked: hsl(234, 11%, 52%);
  --app-button-text-color: hsl(235, 19%, 35%);
  --task-border-color: hsl(234, 11%, 52%);
  --delete-task-button-color-hover: #dc143c;

  --font-weight-400: 400;
  --font-weight-700: 700;

  --border-radius-4: 4px;
  --hover-animation-timing: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--page-bg);
  transition: calc(var(--hover-animation-timing) + 0.2s);
}

.container {
  width: 100%;
  height: 100vh;
}

.background-image {
  background: url(./images/bg-desktop-dark.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 45%;
  transition: calc(var(--hover-animation-timing) + 0.2s);
}

.app {
  min-width: 380px;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -57%);
}

.app__header {
  display: flex;
  justify-content: space-between;
}

.app__heading {
  font-size: 3.3rem;
  color: var(--lt-very-light-grayish-blue);
  letter-spacing: 14px;
}

.app__theme-toggler {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  appearance: none;
}

.app__theme-toggler:checked + .app__theme-image {
  transform: rotate(360deg);
}

.app__theme-image {
  width: 30px;
  background: url(./images/icon-sun.svg) no-repeat center;
  transition: calc(var(--hover-animation-timing) * 3.5);
}

.app__inputs {
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  padding: 15px 30px;
  font-size: 2rem;
  background-color: var(--app-bg);
  border-radius: var(--border-radius-4);
  transition: calc(var(--hover-animation-timing) + 0.2s);
}

.app__inputsWrapper {
  display: flex;
}

.app__input {
  border: none;
  width: 100%;
  margin-inline-end: 12px;
  padding: 10px 20px;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--input-bg);
  color: var(--task-text-color);
  border-radius: 10px;
  letter-spacing: 1px;
  transition: scale var(--hover-animation-timing);
}

.app__input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid hsla(220, 98%, 61%, 0.801);
  caret-color: var(--primary-blue);
}

.app__input:active {
  transform: scale(0.96);
}

.app__submit {
  border: none;
  width: 90px;
  padding: 10px 20px;
  font-size: 2rem;
  color: var(--task-text-color);
  background-color: var(--input-bg);
  border-radius: 40px;
  cursor: pointer;
  transition: var(--hover-animation-timing);
}

.app__submit:hover,
.app__submit:active {
  color: #fff;
  background-color: var(--primary-blue);
}

.app__submit:active {
  transform: scale(0.8);
}

.app__error {
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-inline-start: 2rem;
  color: var(--delete-task-button-color-hover);
  display: none;
}

.app__shake {
  border-bottom: 1px solid var(--delete-task-button-color-hover);
  animation: shake 0.15s linear 3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.app__body {
  border-radius: var(--border-radius-4);
  background-color: var(--app-bg);
  transition: calc(var(--hover-animation-timing) + 0.2s);
}

.app__task {
  display: block;
  position: relative;
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  color: var(--task-text-color);
  padding: 22px 35px;
  border-bottom: 0.1rem solid var(--task-border-color);
  cursor: pointer;
  transition: var(--hover-animation-timing);
}

.app__tasks.show-active > .checked {
  display: none;
}

.app__tasks.show-completed > .unchecked {
  display: none;
}

.app__task:hover {
  color: var(--task-text-color-hover);
  font-size: 1.99rem;
}

.app__task.checked {
  text-decoration: line-through;
  color: var(--task-text-color-checked);
}

/* Show checkmark when checked */
.app__task.checked .app__checkmark::after {
  opacity: 1;
}

.app__task:hover .app__checkmark {
  border-color: var(--lt-dark-grayish-blue);
}

.app__task:hover .app__delete {
  opacity: 1;
}

.app__task.dragging {
  scale: 1.2;
  background-color: hsla(220, 100%, 65%, 0.849);
  color: #121212;
  border-radius: var(--border-radius-4);
  cursor: grabbing;
}
.app__task.dragging :where(.app__checkmark, .app__delete) {
  opacity: 0;
}

/* Hide default checkbox */
.app__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.app__checkmark {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid var(--task-border-color);
  border-radius: 50%;
  transition: var(--hover-animation-timing);
}

/* Create checkmark indicator hidden when not checked */
.app__checkmark::after {
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(-50%, -50%);
  opacity: 0;
  transition: calc(var(--hover-animation-timing));
}

.checked .app__checkmark {
  background-image: linear-gradient(to bottom right, #57ddff, #c058f3);
}

.app__delete {
  opacity: 0;
  font-weight: 600;
  position: absolute;
  right: 35px;
  font-size: 2rem;
  font-family: sans-serif;
  color: var(--dt-very-dark-grayish-blue);
  transition: var(--hover-animation-timing);
}

@media (max-width: 767px) {
  .app__delete {
    opacity: 1;
  }
}

.app__delete:hover {
  color: var(--delete-task-button-color-hover);
}

.app__footer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 18px 35px;
  background-color: var(--dt-very-dark-desaturated-blue);
  border-radius: var(--border-radius-4);
}

.app__button {
  border: none;
  font-family: "Josefin Sans";
  font-weight: 700;
  background-color: transparent;
  color: var(--app-button-text-color);
  cursor: pointer;
  transition: var(--hover-animation-timing);
}

.clear-button:hover {
  color: var(--task-text-color);
}

.app__items-left {
  font-family: "Josefin Sans";
  font-weight: 700;
  color: var(--app-button-text-color);
  user-select: none;
  cursor: auto;
}

.app__items-left,
.clear-button {
  font-size: 1.34rem;
}

.active-label {
  margin-inline: 2rem;
}

.app__toggler {
  display: none;
}

.app__toggler:checked + .app__label {
  color: var(--primary-blue);
}

.app__label {
  color: var(--app-button-text-color);
  font-size: 1.5rem;
  font-weight: var(--font-weight-700);
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: var(--hover-animation-timing);
}

.app__label:hover {
  color: var(--task-text-color-hover);
}

.text {
  color: var(--task-text-color-checked);
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  bottom: -65px;
  margin-bottom: 10px;
}

@media (max-width: 959px) {
  form {
    position: absolute;
    bottom: -75px;
    background-color: var(--app-bg);
    padding: 18px 30px;
    width: 100%;
    left: 0;
    border-radius: var(--border-radius-4);
    display: flex;
    justify-content: space-evenly;
    transition: var(--hover-animation-timing);
  }
  .text {
    bottom: -121px;
  }
}

.app__theme--isLight {
  --page-bg: hsl(236, 33%, 92%);
  --app-bg: hsl(0, 0%, 98%);
  /* --input-bg: hsl(236deg 9% 61% / 20%); */
  --input-bg: hsl(236deg 19.9% 80.39% / 20%);
  --task-text-color: hsl(235, 19%, 35%);
  --task-text-color-hover: hsl(233, 14%, 35%);
  --task-text-color-checked: hsl(234, 11%, 52%);
  --app-button-text-color: hsl(234, 11%, 52%);
  --task-border-color: hsl(236, 33%, 92%);
}
